@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');


body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
}

#task-list-header {
    display: flex;
    align-items: center;
}

#task-list {
    list-style-type: none;
}

input[type='checkbox'] {
    display: none;
}