<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>

<body>
    <form action="#" method="post">
        {{ form.csrf_token }}
        {{ form.description }}
        {{ form.submit }}
    </form>
    <div id="tasks-list">
        {% for task in tasks_list %}
        <div id="task">
            <form action="." method="get">
                {% set i = loop.index - 1 %}
                {{ tasks_form_list[i].completed }}
                {{ task.description }}
                {{ tasks_form_list[i].submit }}
            </form>
        </div>
        {% endfor %}
    </div>
</body>

</html>